h1 {
    color: #E53170;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

#TeamIntroduction {
    font-family: 'Rubik', sans-serif; 
    font-weight: 100;
    text-align: center;
}

main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

header {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px 50px;
}

p {
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
}

h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    display: inline;
    color: white;
}

.inline{
    display: inline;
}

.card {
    background-color: #0F0E17;
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
}

.role {
    color: white;
    line-height: 220%
}


.name {
    color: white;
    font-weight: 400;}

img {
    max-height: 100px;
    margin-bottom: 0px;
    padding-right: 20px;
}

.mail {
    align-self: flex-end;
    justify-content: center;
}

a {
    color: cyan;
}